img {
  width: 100%;
  height: auto;
}

h1 {
  font-weight: bold;
  color: #fff;
}

p {
  color: #fff;
}

.back-btn {
  background-color: #fff;
}

a {
  padding: 10px 10px;
  background-color: #fff;
}

a:hover {
  background-color: orange;
}

h5, h6 {
  color: #fff;
}

h2 {
  color: #fff;
}
