button {
  background-color: #fff;
}

button:hover {
  background-color: orange;
}

img {
  width: 100%;
}

h5 {
  color: #fff;
}

img {
  width: 100%;
  cursor: pointer;
}

input:hover {
  border-color: orange;
  border-width: 3px;
}



